@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --home: #e5f0ff;
  --darkblue: rgb(37, 93, 157);
  --shadow: rgba(37, 93, 157, 0.2);
  --text: #081c39;
  --shadow-hover: rgba(37, 93, 157, 0.333);
  --grey: #4b5563;
  --grey-lines: rgb(189, 189, 189);
}

* {
  margin: 0;
  padding: 0;
  /* background-color: rgb(215, 240, 255); */
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  background-color: var(--home);
}

.home {
  padding: 1rem 1rem;
  background-color: var(--home);
}

.error {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--darkblue);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-logo .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: "Sriracha";

}

.event-filter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px rgba(37, 93, 157, 0.217);
}

.categories span {
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  transition: text-shadow 0.25s ease, border-bottom 0.25s ease;
  color: var(--darkblue);
}

.categories .active {
  border-bottom: solid 2px var(--darkblue);
  text-shadow: 2px 2px 4px var(--shadow);
}

.filters-btn {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--darkblue);
  font-size: 0.8rem;
  cursor: pointer;
}

.filters-btn:hover:enabled {
  padding: 0.48rem;
  text-shadow: 2px 2px 4px var(--shadow);
}

.filters-btn:disabled {
  cursor: not-allowed;
  border: none;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 2rem;
  gap: 1.5rem;
}

.vendor-events-list {
  display: flex;
  margin: 2rem 2rem;
  gap: 1.5rem;
  flex-direction: column;
}

.event-link,
.vendor-event-card {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.movie-card,
.concert-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.movie-card h3,
.concert-card h3,
.train-left h3,
.theatre-card h3 {
  font-size: 1.7rem;
  font-weight: 500;
}

.movie-card p,
.concert-card p,
.train-card p,
.theatre-card p {
  margin: 0.5rem 0;
}

.event-card,
.vendor-event-card {
  flex: 1;
}

.train-card {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.train-right {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 5rem;
}

.train-right strong {
  font-weight: 500;
}

.event-link:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.theatre-card {
  margin: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.event-card img,
.vendor-event-card img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* .event-details {
  flex: 1;
} */

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profilePic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.event-details-pg {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  margin: 2.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.event-details-pg h2 {
  font-weight: 500;
  font-size: 2rem;
}

.details {
  margin-left: 1.5rem;
}

.concert-details,
.movie-details {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.concert-details img,
.movie-details img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 80vh;
}

.train-details {
  padding: 2rem 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  flex: 0.7;
  align-items: center;
  justify-content: space-between;
}

.details p,
.train-details p {
  margin: 0.5rem 0;
}

.details p {
  font-size: 1.1rem;
}

.details em {
  font-size: 1rem;
}

.book-btn,
.login-btn,
.signup-btn,
.reset-password-btn,
.reset-btn,
.cancel-btn,
.btn,
.train-btn {
  background-color: var(--darkblue);
  color: white;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

.book-btn {
  font-size: 1rem;
}

.login-btn,
.signup-btn {
  margin: 0;
}

.book-btn:hover,
.login-btn:hover,
.signup-btn:hover,
.reset-password-btn:hover,
.reset-btn:hover,
.cancel-btn:hover,
.btn:hover,
.train-btn:hover {
  box-shadow: 3px 3px 8px var(--shadow);
  background-color: rgba(37, 93, 157, 0.934);
}

.movie-booking,
.train-booking,
.concert-booking,
.booking-summary {
  margin: 2rem;
}

.movie-booking h3,
.train-booking h3,
.booking-summary h3,
.movie-booking label,
.concert-booking label,
.train-booking label,
.movie-booking p,
.train-booking p,
.concert-booking p,
.booking-summary p,
.view-booking h3,
.view-booking p {
  margin: 0.8rem 0;
  font-weight: 450;
}

.booking-summary h3,
.view-booking h3 {
  font-weight: 700;
}

.movie-booking h3,
.train-booking h3 {
  font-weight: 600;
}

em {
  color: #4b5563;
  font-style: normal;
}

option {
  width: 100%;
  border: none;
}

select {
  width: 70%;
  height: 2rem;
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px rgba(37, 93, 157, 0.541);
  border: none;
  outline: none;
}

select:focus {
  outline: none;
  box-shadow: 2px 2px 4px rgba(37, 93, 157, 0.541);
  border: none;
}

input,
textarea {
  margin: 0 1rem;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 0 0.3rem;
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px rgba(37, 93, 157, 0.541);
}

textarea {
  height: 4rem;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 2px 2px 4px rgba(37, 93, 157, 0.541);
}

.booking-summary,
.view-booking {
  padding: 1rem 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  max-width: 30rem;
  align-items: center;
  margin: 2rem auto;
}

.login-form,
.signup-form,
.forgot-password-form,
.reset-password,
.change-pass-form,
.edit-form {
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  max-width: 20rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.change-pass-form,
.edit-form {
  max-width: 25rem;
}

.signup-form {
  margin-top: 4rem;
}

.signup-form select {
  width: 63%;
  height: 1.5rem;
  box-shadow: none;
  border: 0.5px solid grey;
  font-size: 0.7rem;
  border-radius: 4px;
  padding: 0.3rem;
}


.login-bottom {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.login-details,
.signup-details,
.forgot-password-details,
.change-pass-details,
.edit-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form input,
.signup-form input,
.forgot-password input,
.change-password input,
.edit-form input {
  border: 0.5px solid grey;
  box-shadow: none;
  width: 60%;
  margin: 0;
  font-size: 0.8rem;
}

.login-bottom a,
.login-bottom p {
  font-size: 0.75rem;
  color: #4b5563;
}

.login-redirect a,
.login-redirect p {
  font-size: 0.8rem;
  color: #4b5563;
}

.signup-redirect,
.login-redirect {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.login-bottom a:hover,
.login-redirect a:hover {
  text-decoration: underline;
  color: black;
}

.login-redirect p {
  margin-right: 0.6rem;
}

.forgot-password h3,
.reset-password h3 {
  margin-bottom: 1rem;
}

.reset-password-btn,
.reset-btn {
  margin-bottom: 0;
}

.nav-link {
  color: white;
  margin-right: 2rem;
}

.create-link {
  color: white;
  font-size: 0.9rem;
  margin-right: -1rem;
}

.nav-link:hover,
.create-link:hover {
  text-decoration: underline;
}



.bookings-pg {
  margin: 2rem;
}

.bookings {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.booking-card {
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  cursor: pointer;
  width: 20%;
  padding-bottom: 2rem;
}

.booking-card:hover {
  box-shadow: 0 4px 10px var(--shadow-hover);
}

.booking-card strong {
  font-weight: 500;
}

.booking-card p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #4b5563;
}

.profile {
  margin-right: 1rem;
}

.acc-tab {
  position: absolute;
  top: 0;
  right: 0;
  width: 17rem;
  background-color: white;
  border-left: 0.5px solid var(--grey-lines);
  box-shadow: 2px 2px 5px var(--shadow);
  padding: 1rem;
  z-index: 999;
  animation: slideIn 0.2s ease-in-out;
  height: 100vh;
}

.acc-tab.closing {
  animation: slideOut 0.2s ease-in-out
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.profile-pic {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  margin: 1rem 0;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.user-info strong {
  font-weight: 500;
  font-size: 1.1rem;
}

.user-info p {
  color: var(--grey);
  font-size: 0.9rem;
}

.user-info a {
  font-size: 0.9rem;
  color: var(--grey);
  margin-right: 0.5rem;
}

.user-info a:hover {
  text-decoration: underline;
  color: black;
}

.acc-tab h3 {
  border-bottom: 0.5px solid var(--grey-lines);
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.acc-tabs {
  display: flex;
  flex-direction: column;
}

.acc-tabs button {
  background-color: transparent;
  padding: 0.8rem 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
  border: none;
  border-bottom: 0.5px solid var(--grey-lines);
}

.btnn {
  cursor: pointer;
}

.profile-preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.material-symbols-outlined {
  cursor: pointer;
}

.theatre {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.theatre-detailss {
  align-items: center;
  margin: 2rem 6rem;
}

.theatre-detailss h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0
}

.theatre-details h3 {
  font-size: 1.7rem;
  margin: 0;
}



.movie {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.moviee {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
}

.theatre-details p {
  margin: 0.8rem 0;
}

.theatre-name {
  display: flex;
  gap: 1rem;
  align-items: last baseline;
}

.the-movie {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.the-movie img {
  width: 12rem;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 1rem;
}

.moviee p {
  margin-bottom: 0.5rem;
}

.moviee h4 {
  margin-bottom: 0.7rem;
}

.shows {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.8rem;
}

.show-card {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 0.5px solid var(--grey-lines);
  margin: 1.5rem 1rem;
  padding: 1rem;
  padding-right: 0.3rem;
  gap: 1rem;
}

.moviee h3 {
  margin: 0 1rem;
  font-weight: 600;
}

.show {
  padding-top: 0.5rem;
}

.del-icon {
  height: fit-content;
  margin-top: -0.7rem;
  color: grey;
}

.del-icon:hover,
.del:hover {
  color: black;
}

.del {
  color: grey;
}

.concert {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  align-items: center;
  max-width: 50rem;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
}

.concert img {
  width: 17rem;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.concert h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.concert p {
  margin-bottom: 0.3rem;
}

.trainn {
  display: flex;
}

.train {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  min-width: 17rem;
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.train p {
  margin: 0.2rem 0;
}

.train h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.train h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.train-btn {
  margin-top: 1.5rem;
}

.class-list {
  margin: 2.5rem 1rem;
}

.class-list h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2rem 0;
  gap: 1.5rem;
}

.class {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid var(--grey-lines);
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.train-del {
  align-self: last baseline;
  margin-right: -0.5rem;
}

.class p {
  margin-bottom: 0.2rem;
}

.class h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.new-event {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-event label {
  font-size: 1.2rem;
  font-weight: 500;
}


.create-event h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.create-event {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 62vw;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow);
  padding: 1.5rem;
}

.create-event input,
.create-event textarea {
  box-shadow: none;
  border: 0.5px solid var(--grey-lines);
  width: 70%;
}

.create-event label {
  font-size: 1rem;
  font-weight: 400;
}

.entry {
  display: flex;
  justify-content: space-between;
}

textarea,
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.entry input,
.entry textarea {
  margin-right: 0;
}

.create-show select,
.create-class select {
  margin-bottom: 1rem;
}